.profile{
    background-image: url(../../../../assets/Profilebg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    color: rgb(16, 21, 18);
}
.profile-card {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 600px;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffffa1;
  }
  
  
  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
  }
  
  .profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 1rem;
    border: 2px solid #ddd;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
  }
  
  .profile-name {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .profile-email {
    color: #666;
  }
  
  /* Profile Content */
  .profile-content {
    padding: 1rem 0;
  }
  
  .profile-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  

  .edit-button {
    width: 600px;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #37ec8e;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
  }
  
  .edit-button:hover {
    background-color: #0056b3;
  }
  

  .input{
     max-width: 580px;
  }

  .back-button{
    display: flex;
    justify-content: end;
    margin: 10px 20px 10px 0;
  }